* {    
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Gulzar', serif;
  
}
 body {
    margin-left: 240px;
    margin-right: 240px;
}
}
:root {
    --white:#FFFFFF;
    --Very light pink:#C7C7C7;
    --Tex input field:#F7F7F7;
    --Hospital green:#ACD9B2;
    --Black: #000000;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 200px;
    display : flex;  
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;    
}
.header-title {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    width:100%;
    text-align: center;
    margin-top: 28px;
   
}
 .title {
    display:flex;    
    justify-content: center;   
    justify-items: center;
    margin-right: 0;
    color:var(--Black);
    text-align: center;    
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 40px;
}
.header-list {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;  
      
}

 header nav {
    display:flex;
    justify-content: center;
}
header nav .nav-center {
  width: 600px;  
  height:auto;
  display:flex;
  list-style: none;
  justify-content: center;
  align-items:center;
 
}

header nav .nav-center a {
    margin-right: 10px;
    color: var(--Black);
}
.nav-input {
    display:flex;
    text-align: end;
    margin-left: 0;
}
main { 
    display:grid;
    margin:42px;
   
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 264px);
    gap: 92px;
}
.product-card {
    width: 264px;
}
.product-card img{
    width: 264px;
    height: 264px;
    border-radius:20px ;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.product-info div p:nth-child(1) {
    font-weight: 300;
    font-size:  var(--md);
    margin-top: 16px;
    margin-bottom: 4;
}
.product-info div p:nth-child(2) {
    font-weight: 300;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--Very-light-pink);
}
.product-info div p:nth-child(3) {
    font-weight:300;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
@media (max-width:640px){
    .cards-container{
       
        grid-template-columns: repeat(auto-fill, 140px);
      
    }
    .product-card {
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;     
    }
    
}
footer {
    height:10%;
    display:grid;
    margin-bottom: 16px; 
    font-family:var(--Gulzar);   
}
ul {
    margin:42, 42, 0, 0;
    display:grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-items: center;
}


    
    
