* {    
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Gulzar', serif;
    font-family: 'Roboto', sans-serif;

}
:root {
    --white:#FFFFFF;
    --Very light pink:#C7C7C7;
    --Tex input field:#F7F7F7;
    --Hospital green:#ACD9B2;
    --Black: #000000;
}

header {
    height: 30%;
    display : flex;
    margin-top: 42px;
    margin-bottom: 42px;    
}
 .title {
    display:flex;    
    justify-content: center;
    margin-left: 500px;
    justify-items: center;
    margin-right: 0;
}
.navegadores {
    display:flex;
    justify-content: center;
    margin-top: 100px;
}
nav {
    display:flex;
    justify-items: center;
    margin-left:42px;
    margin-right: 200px;
    margin-bottom: 50px;

}
main { 
    display:grid;
    margin:42px;
   
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
}
.product-card {
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius:20px ;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size:  var(--md);
    margin-top: 16px;
    margin-bottom: 4;
}
.product-info div p:nth-child(2) {
    font-weight: bold;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--Very-light-pink);
}
.product-info div p:nth-child(3) {
    font-weight: bold;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
@media (max-width:640px){
    .cards-container{
       
        grid-template-columns: repeat(auto-fill, 140px);
      
    }
    .product-card {
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;     
    }
    
}
footer {
    height:10%;
    display:grid;    
}
ul {
    margin:42, 42, 0, 0;
    display:grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-items: center;
}


    
    
