* {    
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Gulzar', serif;
  
}

:root {
    --white:white;    
    --Black:#000000;
    --ligth-grey:rgb(254, 249, 249);
}
body {
    margin-left: 240px;
    margin-right: 240px;
    background-color:#fff ;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 30%;
    display : flex;  
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;    
}
.header-title {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    width:100%;
    text-align: center;
    margin-top: 28px;
   
}
 .title {
    display:flex;    
    justify-content: center;   
    justify-items: center;
    margin-right: 0;
    color:var(--Black);
    text-align: center;    
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 40px;
}
.header-list {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px; 
    margin:0;
    padding:0;  
        
}

 header nav {
    display:flex;
    justify-content: center;
    margin:0;
    padding:0; 
}
header nav .nav-center {
  width: 100%;  
  height:auto;
  display:flex;
  list-style: none;
  justify-content: center;
  align-items:center;   
 }

 nav .nav-center  a {
    margin-right:86px;
    color: black;
 } 
   
.nav-input {      
    display:flex;
    justify-content:flex-end;   
    height: 24px;
    width: 260px; 
    margin-left: 1100px; /*No me funcionó el flex-end y lo acomode a ojo conpx*/
  }

input {  
    width: 164px;
    margin-right: 4px;
    border: 1px solid;
    font-size:var(--sm);
}
button {
    display:flex;
    justify-content:center;
    border-radius:10px ;
    border: none;
    background-color: black;
    color:white;    
    width: 90px;       
    cursor: pointer;
   
}

main {
    height: 60%; 
    display:grid;
    margin:42px;   
}

.cards-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 264px);
    gap: 92px;
}
.product-card {
    width: 264px;
}
.product-card img{
    width: 264px;
    height: 264px;
    border-radius:10px ;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.product-info div p:nth-child(1) {
    font-weight: 300;
    font-size:  var(--md);
    margin-top: 12px;
    margin-bottom: 4;
}
.product-info div p:nth-child(2) {
    font-weight: 300;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--Very-light-pink);
}
.product-info div p:nth-child(3) {
    font-weight:300;
    font-size:  var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
@media (max-width:640px){
    .cards-container{
       
        grid-template-columns: repeat(auto-fill, 140px);
      
    }
    .product-card {
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;     
    }
    
}
footer {
    width: 100%;
    height:10%;   
    bottom: 0;
    display:grid; 
    align-items: center;
    font-family:var(--Gulzar);     
    margin: top 0;;     
    font-size: 13px; 
    background-color: black;
}
footer ul {
    margin:42, 42, 0, 0;
    display:flex;
    justify-self: center;
    list-style: none;
    padding:0; 
}
footer ul li a {
   margin: 88px; 
   color:white;
}


    
    
